
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/styleLogin.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
        <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab"></label>
        <div class="login-form">

            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true)
                <div class="sign-in-htm">

                    <div class="group">
                        <label for="ten" class="label">Họ và tên</label>
                        <input id="ten" type="text" class="input" name="TENKHACHHANG">
                        @ViewData["Error1"]
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Mật khẩu</label>
                        <input id="pass" type="password" class="input" name="PASS">
                        @ViewData["Error2"]
                    </div>
                    <div class="group">
                        <label for="mail" class="label">Tên đăng nhập hoặc gmail</label>
                        <input id="mail" type="email" class="input" name="GMAIL">
                        @ViewData["Error3"]
                    </div>
                    <div class="group">
                        <label for="sdt" class="label">Số điện thoại</label>
                        <input id="sdt" type="tel" class="input" name="SDT">
                        @ViewData["Error4"]
                    </div>
                    <div class="group">
                        <label for="gioitinh" class="label">Giới tính</label>
                        <input id="gioitinh" type="text" class="input" name="GIOITINH">
                        @ViewData["Error5"]
                    </div>
                    <div class="group">
                        <label for="day" class="label">Ngày tháng năm sinh</label>
                        <input id="day" type="date" class="input" name="NAMSINH">
                        @ViewData["Error6"]
                    </div>
                    <div class="group">
                        <label for="diachi" class="label">Địa chỉ</label>
                        <input id="diachi" type="text" class="input" name="DIACHI">
                        @ViewData["Error7"]
                    </div>
                    <a href="#" class="group">
                        <input type="submit" class="button" value="Đăng ký">
                    </a>

                    <div class="hr"></div>
                    <h5 style="color:red; text-align:center"> @ViewBag.ThongBao</h5>
                    @Html.ActionLink("Đăng nhập", "Login")
                </div>
            }
        </div>
    </div>
</div>

@*<table align="center">
    <h2 style="text-align:center">ĐĂNG KÝ THÀNH CÔNG</h2>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <tr style="height:40px">
            <td>Họ tên khách hàng:</td>
            <td>
                @Html.TextBox("TENKHACHHANG")
                @ViewData["Error1"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Tên đăng nhập:</td>
            <td>
                @Html.TextBox("USERNAME")
                @ViewData["Error2"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Mật khẩu:</td>
            <td>
                @Html.TextBox("PASS")
                @ViewData["Error3"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Gmail:</td>
            <td>
                @Html.TextBox("GMAIL")
                @ViewData["Error4"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Điện thoại:</td>
            <td>
                @Html.TextBox("SDT")
                @ViewData["Error5"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Giới tính:</td>
            <td>
                @Html.TextBox("GIOITINH")
                @ViewData["Error6"]
            </td>
        </tr>
        <tr style="height:40px">
            <td>Ngày sinh:</td>
            <td>
                <input type="date" name="NAMSINH" />
            </td>
        </tr>
        <tr style="height:40px">
            <td>Địa chỉ:</td>
            <td>
                @Html.TextBox("DIACHI")
                @ViewData["Error8"]
            </td>
        </tr>

        <tr style="height:40px">
            <td></td>
            <td>
                <input type="Submit" value="Đăng ký" />
            </td>
        </tr>
    }
</table>*@

